:root {
  --co-gray-30: hsl(177, 11%, 34%);
  --co-primary-text: hsl(0, 0%, 8%);
  --co-secondary-text: hsl(0, 0, 91%);
  --fs-primary: 1rem;
  --fs-secondary: .9rem; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--fs-primary);
  color: var(--co-primary-text);
}
button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.4em;

  transition: 200ms background-color;
  cursor: pointer;
  user-select: none;
}
*::after {
  display: block;
  position: absolute;
  content: '';
}
label {
  font-size: var(--fs-secondary);
}
input {
  width: 100%;
  position: relative;
  padding-bottom: 0.3em;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: inherit;
  transition: border-color 160ms;
  font-size: inherit;
}
input:focus {
  outline: none;
  border-color: var(--co-gray-30);
}
input::placeholder {
  font-size: 1em;
}

#root {
  display: grid;
  grid-auto-rows: min-content auto;
  height: 100vh;
  padding: 2.2rem 0;
}

h1 {
  font-size: 1.1em;
  margin-bottom: .6em;
}