@use './config.scss';

.modal {
	width: 15rem;
	padding: 2rem 1rem;
	border-radius: config.$border-r-m;
	background-color: config.$co-white-90;

	&__overlay {
    $co-black-90-o-7: hsla(0, 0%, 0%, 0.7); 
		@extend %flex-center;
		position: fixed;
    inset: 0;
		z-index: 1;

    background-color: $co-black-90-o-7;
	}
	&__btnClose {
		position: absolute;
		top: 1rem;
		right: 1rem;

		font-size: 2.2rem;
	}
}