.prompt {
	$unit: .5rem;
	display: flex;
  flex-direction: column;

	&__label {
		margin-bottom: $unit;
	}
	&__inputContainer {
    position: relative;
		margin-bottom: 2 * $unit;
		padding-bottom: 3 * $unit;
	}
	&__textValidation {
    position: absolute;
    bottom: $unit;
    left: 0;
		color: red;
		font-size: var(--fs-secondary);
	}
	&__btnCta {
		margin: 0 auto;
	}
}