@use './config.scss';
@use './Modal.scss';
@use './Task.scss';
@use './Prompt.scss';

.btnClose {
	$co-black-o-40: hsla(0, 0%, 100%, 0.4);
	width: 1.35em;
	padding: 0;
	aspect-ratio: 1/1;
	border-radius: config.$border-r-m;
	background-color: transparent;
	color: $co-black-o-40;
	outline: 4px solid transparent;
	transition: 200ms outline;
	&__symbol {
		padding-bottom: .1em;
	}
	&:hover {
		outline: 4px solid currentColor;
	}
}

.btn {
	&--cta {
		background-color: config.$color-4;
		color: config.$co-white-90;
		font-weight: bold;
		&:hover {
			background-color: config.$color-4-h;
		}
	}
	&--circle {
		border-radius: config.$border-r-circle;
	}
}

.taskContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&__body {
		display: flex;
		flex-direction: column;
		gap: 4px;
		width: 100%;
		max-width: 20rem;
	}
}

.titleWithButton {
	@extend %flex-center;
	gap: .5rem;

	&__title {
		margin: 0;
	}
	&__btn {
		width: 2rem;
		padding: .5rem;
	}
}

